<!-- blog/templates/blog/home.html -->

<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
</head>
<body>
  <h1>Welcome to My Blog</h1>

  {% for article in articles %}
    <div>
      <h2>{{ article.title }}</h2>
      <p>{{ article.body|truncatewords:30 }}</p>
      {% if article.image %}
        <img src="{{ article.image.url }}" width="300" alt="Image for {{ article.title }}">
      {% endif %}
      <a href="{% url 'article-detail' article.pk %}">Read more</a>
    </div>
    <hr>
  {% endfor %}
</body>
</html>
